python-dotenv
langchain
openai
langchain-openai
pandas
langchain_experimental
langchain-community
tiktoken
faiss-cpu
chromadb
PyPDF2
docx2txt
sentence-transformers
InstructorEmbedding
six
matplotlib
sympy
fastapi[all]
uvicorn[standard]
